<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425496563944-9p5rl4021a972ua01il3vn74v7uigamp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425496563944-9p5rl4021a972ua01il3vn74v7uigamp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>425496563944-j38glagkf82uar3i473pfumcpu51s4pe.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDHq_sY-PWNAYlGqp18dm2O21I-egtwQ4c</string>
	<key>GCM_SENDER_ID</key>
	<string>425496563944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qucek.laundry</string>
	<key>PROJECT_ID</key>
	<string>qucek-657dc</string>
	<key>STORAGE_BUCKET</key>
	<string>qucek-657dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425496563944:ios:c90be34e6ab26848b9395d</string>
</dict>
</plist>